<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- typeAliases should appear before environments per DTD order -->
    <typeAliases>
        <typeAlias alias="AccountUser" type="study.mybatis.AccountUser"/>
        <typeAlias alias="Contact" type="study.mybatis.Contact"/>
        <typeAlias alias="ContactGroup" type="study.mybatis.ContactGroup"/>
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- Use MySQL driver to match the MySQL URL -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://47.115.221.235:3306/test1?useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=utf8"/>
                <property name="username" value="xcx666"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/mapper.xml"/>
    </mappers>
</configuration>
